<a href="https://colab.research.google.com/github/GreeshmaBodapati/Data-visualization-/blob/main/Retail_Transactions_Data_Analysis_using_Pandas_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import random

In [ ]:
from google.colab import drive

In [ ]:
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd

In [ ]:
datasetpath = "/content/drive/MyDrive/retail_transactions.csv"

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df = pd.read_csv(datasetpath)

In [ ]:
df

,TransactionID,TransactionDate,StoreID,CustomerID,ProductID,ProductCategory,Quantity,Price,PaymentType,Discount
0,T001,2024-01-01,102,1646,545,Electronics,1,150,Credit,15.0
1,T002,2024-01-02,103,1226,542,Toys,2,317,Debit,10.0
2,T003,2024-01-03,102,1515,593,Electronics,5,165,Debit,NaN
3,T004,2024-01-04,103,1793,560,Furniture,6,496,Debit,10.0
4,T005,2024-01-05,105,1864,523,Grocery,10,166,Debit,0.0
...,...,...,...,...,...,...,...,...,...,...
95,T096,2024-04-05,101,1918,559,Apparel,2,439,Cash,10.0
96,T097,2024-04-06,104,1190,579,Electronics,4,52,Debit,0.0
97,T098,2024-04-07,102,1932,504,Apparel,7,151,Credit,10.0
98,T099,2024-04-08,103,1285,587,Apparel,5,479,Credit,10.0
99,T100,2024-04-09,101,1602,574,Electronics,5,247,Credit,15.0

In [ ]:
from datetime import datetime

In [ ]:
df['TransactionDate'] = pd.to_datetime(df['TransactionDate'])
df['TransactionDate']

0    2024-01-01
1    2024-01-02
2    2024-01-03
3    2024-01-04
4    2024-01-05
        ...
95   2024-04-05
96   2024-04-06
97   2024-04-07
98   2024-04-08
99   2024-04-09
Name: TransactionDate, Length: 100, dtype: datetime64[ns]

In [ ]:
df.columns

Index(['TransactionID', 'TransactionDate', 'StoreID', 'CustomerID',
       'ProductID', 'ProductCategory', 'Quantity', 'Price', 'PaymentType',
       'Discount'],
      dtype='object')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   TransactionID    100 non-null    object
 1   TransactionDate  100 non-null    datetime64[ns]
 2   StoreID          100 non-null    int64
 3   CustomerID       100 non-null    int64
 4   ProductID        100 non-null    int64
 5   ProductCategory  100 non-null    object
 6   Quantity         100 non-null    int64
 7   Price            100 non-null    int64
 8   PaymentType      100 non-null    object
 9   Discount         75 non-null     float64
dtypes: datetime64[ns](1), float64(1), int64(5), object(3)
memory usage: 7.9+ KB

In [ ]:
df.describe()

,TransactionDate,StoreID,CustomerID,ProductID,Quantity,Price,Discount
count,100,100.000000,100.000000,100.000000,100.000000,100.00000,75.000000
mean,2024-02-19 12:00:00,102.730000,1552.520000,554.390000,5.370000,282.15000,7.733333
min,2024-01-01 00:00:00,101.000000,1013.000000,501.000000,1.000000,50.00000,0.000000
25%,2024-01-25 18:00:00,101.000000,1310.250000,529.750000,3.000000,165.75000,2.500000
50%,2024-02-19 12:00:00,103.000000,1534.000000,554.000000,5.500000,280.00000,10.000000
75%,2024-03-15 06:00:00,104.000000,1800.750000,579.500000,8.000000,415.25000,12.500000
max,2024-04-09 00:00:00,105.000000,1983.000000,600.000000,10.000000,500.00000,15.000000
std,NaN,1.384291,268.295461,28.544098,3.013957,140.19938,5.652871